policy_module(znc, 20211025.1.5)

# vim: softtabstop=2 tabstop=2 shiftwidth=2 expandtab

require {
	type logrotate_t;
	type setfiles_t;
	type system_cronjob_t;
	type unconfined_t;
	type unconfined_service_t;
        class dir { add_name create getattr open read search write };
        class file { append create getattr lock open read write };
        class tcp_socket { accept bind connect create getattr listen name_bind setopt };
        class netlink_route_socket { bind create getattr nlmsg_read };
        class udp_socket { connect create getattr setopt };
};



## our contexts:
type znc_t;
type znc_cfg_t;
type znc_cfg_ssl_t;
type znc_dir_t;
type znc_exec_t;
type znc_home_dir_t;
type znc_lib_t;
type znc_log_t;
type znc_moddata_dir_t;
type znc_moddata_mods_t;
type znc_mods_dir_t;
type znc_mods_mod_t;
type znc_networks_dir_t;
type znc_networks_t;
type znc_port_t;
type znc_users_dir_t;
type znc_users_user_dir_t;

define(`znc_all_types',`{ znc_home_dir_t znc_dir_t znc_cfg_ssl_t znc_cfg_t znc_lib_t znc_moddata_dir_t znc_log_t znc_moddata_mods_t znc_mods_dir_t znc_mods_mod_t znc_networks_t znc_networks_dir_t znc_port_t znc_users_dir_t znc_users_user_dir_t }')
define(`znc_relabeler_types',`{ setfiles_t system_cronjob_t unconfined_t unconfined_service_t }')


## debug script:
# echo "XX0"; audit2allow -Ri /var/log/audit/audit.log   > /root/x; vi /root/x
# echo "XX1"; make -f /usr/share/selinux/devel/Makefile
# echo "XX2"; semanage port -d -p tcp 11577 ; semanage fcontext -d '/home/[^/]+/.znc(/.*)?'; semodule -r znc
# echo "XX3"; semodule -i /root/selinux/znc-release/znc.pp ; semanage port -a -t znc_port_t -p tcp 11577 ; semanage fcontext -a -e '/var/lib/znc/.znc(/.*?)' '/home/[^/]+/.znc(/.*)?' ; restorecon -vR /var/lib/znc/ /home/fkrueger/ /usr/bin/znc /usr/lib64/znc/
# echo "XX4"; service znc stop; rm -f /var/log/audit/audit.log ; service auditd restart; service znc start
##



## init + proc trans
allow { init_t unconfined_t } znc_home_dir_t:dir search;
init_daemon_domain(znc_t, znc_exec_t)
domtrans_pattern(unconfined_service_t, znc_exec_t, znc_t)

corenet_port(znc_port_t)


#permissive znc_t;



## the specifics

# XXX being lazy here, although it's a good bet.
fs_associate(znc_all_types)

# XXX to read ssl server certificates in /etc/ssl/, /etc/letsencrypt/, ..:
miscfiles_read_generic_certs(znc_t)

# XXX in case your server ssl certificate lies on an NFS mount:
files_manage_mounttab(znc_t)
fs_read_inherited_nfs_files(znc_t)
fs_read_nfs_symlinks(znc_t)
fs_search_nfs(znc_t)

## network stuff
allow znc_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow znc_t self:tcp_socket { accept bind connect create getattr listen read setopt write };
allow znc_t self:udp_socket { accept connect create getattr read setopt write };

allow znc_t znc_port_t:tcp_socket name_bind;
corenet_tcp_bind_generic_node(znc_t)
corenet_tcp_connect_gatekeeper_port(znc_t)
corenet_tcp_connect_ircd_port(znc_t)

sysnet_read_config(znc_t)

fs_read_nfs_files(znc_t)


## home
read_files_pattern(znc_t, znc_home_dir_t, znc_home_dir_t)
read_lnk_files_pattern(znc_t, znc_home_dir_t, znc_home_dir_t)

search_dirs_pattern(znc_t, znc_dir_t, znc_dir_t)
list_dirs_pattern(znc_t, znc_dir_t, znc_dir_t)
manage_dirs_pattern(znc_t, znc_dir_t, znc_dir_t)


## logging
logging_log_file(znc_log_t)
logging_search_logs(znc_log_t)
read_lnk_files_pattern(znc_t, znc_log_t, znc_log_t)
rw_files_pattern(znc_t, znc_log_t, znc_log_t)
manage_dirs_pattern(znc_t, znc_log_t, znc_log_t)
manage_files_pattern(znc_t, znc_log_t, znc_log_t)

list_dirs_pattern(znc_t, znc_cfg_t, znc_cfg_t)
read_files_pattern(znc_t, znc_cfg_t, znc_cfg_t)
manage_files_pattern(znc_t, znc_cfg_t, znc_cfg_t)

list_dirs_pattern(znc_t, znc_cfg_ssl_t, znc_cfg_ssl_t)
getattr_files_pattern(znc_t, znc_cfg_ssl_t, znc_cfg_ssl_t)
read_files_pattern(znc_t, znc_cfg_ssl_t, znc_cfg_ssl_t)

search_dirs_pattern(znc_t, znc_home_dir_t, znc_home_dir_t)
list_dirs_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)
manage_dirs_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)

search_dirs_pattern(znc_t, znc_moddata_dir_t, znc_moddata_dir_t)
list_dirs_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)
manage_dirs_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)

search_dirs_pattern(znc_t, znc_log_t, znc_log_t)
list_dirs_pattern(znc_t, znc_log_t, znc_log_t)
manage_files_pattern(znc_t, znc_log_t, znc_log_t)
manage_dirs_pattern(znc_t, znc_log_t, znc_log_t)

search_dirs_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)
list_dirs_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)
manage_files_pattern(znc_t, znc_moddata_mods_t, znc_moddata_mods_t)

search_dirs_pattern(znc_t, znc_mods_dir_t, znc_mods_dir_t)
list_dirs_pattern(znc_t, znc_mods_dir_t, znc_mods_dir_t)
manage_dirs_pattern(znc_t, znc_mods_dir_t, znc_mods_dir_t)

search_dirs_pattern(znc_t, znc_networks_dir_t, znc_networks_dir_t)
list_dirs_pattern(znc_t, znc_networks_dir_t, znc_networks_dir_t)
manage_dirs_pattern(znc_t, znc_networks_dir_t, znc_networks_dir_t)

search_dirs_pattern(znc_t, znc_networks_t, znc_networks_t)
list_dirs_pattern(znc_t, znc_networks_t, znc_networks_t)
manage_dirs_pattern(znc_t, znc_networks_t, znc_networks_t)

search_dirs_pattern(znc_t, znc_users_dir_t, znc_users_dir_t)
list_dirs_pattern(znc_t, znc_users_dir_t, znc_users_dir_t)
manage_dirs_pattern(znc_t, znc_users_dir_t, znc_users_dir_t)

search_dirs_pattern(znc_t, znc_users_user_dir_t, znc_users_user_dir_t)
list_dirs_pattern(znc_t, znc_users_user_dir_t, znc_users_user_dir_t)
manage_dirs_pattern(znc_t, znc_users_user_dir_t, znc_users_user_dir_t)


# logrotate:
search_dirs_pattern(logrotate_t, znc_all_types, znc_all_types)
list_dirs_pattern(logrotate_t, znc_all_types, znc_all_types)
manage_dirs_pattern(logrotate_t, znc_all_types, znc_all_types)

# system_cronjob_t: this is only to allow our own scripts to play with the tf2server-folders and processes. may need to become more open XXX TODO
search_dirs_pattern(system_cronjob_t, znc_all_types, znc_all_types)
list_dirs_pattern(system_cronjob_t, znc_all_types, znc_all_types)
getattr_files_pattern(system_cronjob_t, znc_all_types, znc_all_types)


### system_cronjob_t update support:
list_dirs_pattern(system_cronjob_t, znc_all_types, znc_all_types)
manage_dirs_pattern(system_cronjob_t, znc_all_types, znc_all_types)
getattr_files_pattern(system_cronjob_t, znc_all_types, znc_all_types)
manage_files_pattern(system_cronjob_t, znc_all_types, znc_all_types)


### unconfined_t full access:
list_dirs_pattern(unconfined_t, znc_all_types, znc_all_types)
manage_dirs_pattern(unconfined_t, znc_all_types, znc_all_types)
getattr_files_pattern(unconfined_t, znc_all_types, znc_all_types)
manage_files_pattern(unconfined_t, znc_all_types, znc_all_types)

### unconfined_service_t full access:
list_dirs_pattern(unconfined_service_t, znc_all_types, znc_all_types)
manage_dirs_pattern(unconfined_service_t, znc_all_types, znc_all_types)
getattr_files_pattern(unconfined_service_t, znc_all_types, znc_all_types)
manage_files_pattern(unconfined_service_t, znc_all_types, znc_all_types)


## selinux-relabelers-support:
search_dirs_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
list_dirs_pattern(znc_relabeler_types, znc_all_types, znc_all_types)

# relabelfrom:
relabelfrom_dirs_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelfrom_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelfrom_fifo_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelfrom_lnk_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelfrom_sock_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)

# relabelto:
relabelto_dirs_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelto_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelto_fifo_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelto_lnk_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)
relabelto_sock_files_pattern(znc_relabeler_types, znc_all_types, znc_all_types)

